#home
  .welcome
    h1 'Allo, 'Allo!
    p Kick-start your next web app with&nbsp;
      a(href="https://github.com/nevech/generator-genlys" target="_blank") Genlys
  .logo
    img(src="/images/logo.png")
  .getting-started
    a(href="https://github.com/nevech/generator-genlys/blob/master/docs/README.md" target="_blank") Getting Started