h1 Welcome
p Structure your project

pre.
  ├──  app/
  │   ├──  bower_components/
  │   ├──  scripts/
  │   │   ├──  configs/
  │   │   │   ├──  http.coffee
  │   │   │   ├──  routes.coffee
  │   │   │   └──  run.coffee
  │   │   ├──  controllers/
  │   │   │   ├──  global.coffee
  │   │   │   └──  home.coffee
  │   │   └──  factories/
  │   │       └── page.coffee
  │   ├──  styles/
  │   │   └──  main.styl
  │   ├──  views/
  │   │   └──  home.jade
  │   └──  index.jade
  ├──  nodes_modules/
  ├──  .bowerrc
  ├──  .editorconfig
  ├──  .gitignore
  ├──  .jshintrc
  ├──  bower.json
  ├──  gulpfile.js
  └──  package.json